@import './styles/base.scss';

#root {
  height: 100%;
}

body {
  background: url(assets/imgs/bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat ;
}

.app {
  margin: 0 auto;
  height: 100%;
}